<div class="bg-image" 
style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Logo_Instituto_Butantan_vertical.svg/800px-Logo_Instituto_Butantan_vertical.svg.png');
      height: 100vh">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                        {{ cadastrando ? 'Cadastro de Novo(a) Usuário(a)' : 'Entrar'}}
                                    </h3>
                                </div>
                                
                                <div class="card-body">

                                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div>

                                    <div class="alert alert-danger" *ngFor="let erro of errors">
                                        {{ erro }}
                                    </div>

                                    
                                </div>

                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a href="#" (click)="preparaCadastrar($event)">
                                            Não possui Usuário(a)? Cadastre-se!
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>