<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                <a class="nav-link" routerLink='/home'>
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Principal
                </a>
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link collapsed" routerLink='/usuarios' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
                    Usuários(as)
                </a>

                <a class="nav-link collapsed" routerLink='/areas' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                    Áreas
                </a>

                <a class="nav-link collapsed" routerLink='/setores' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                    Setores
                </a>

                <a class="nav-link collapsed" routerLink='/estados' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-traffic-light"></i></div>
                    Status
                </a>

                <a class="nav-link collapsed" routerLink='/projetos' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                    Projetos
                </a>

                <a class="nav-link collapsed" routerLink='/doc-automacao' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-paste"></i></div>
                    Atividades
                </a>

                <div class="sb-sidenav-menu-heading">Recursos</div>
                <a class="nav-link collapsed" routerLink='/apontamentos' data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-clock"></i></div>
                    Apontamento de Horas
                </a>

                <div class="sb-sidenav-menu-heading">Logout</div>
                <a class="nav-link collapsed" (click)="logout();" href="#"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                    Sair
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Usuário logado:</div>
            {{ usuarioLogado }}
        </div>
    </nav>
</div>
